-e git://github.com/PacificBiosciences/pbcore.git#egg=pbcore
-e git://github.com/PacificBiosciences/pbcommand.git#egg=pbcommand
-e git://github.com/PacificBiosciences/pbreports.git#egg=pbreports
#-e git://github.com/PacificBiosciences/pacbiotestdata.git#egg=pacbiotestdata
plotly
selenium
